@import '/src/styles.scss';


.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between  ;
    width: 100%;
    border-bottom: 5px solid $color_black;
}

img{
    width: 30px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pcs_in_cart{
    font-size: 1rem;
    color: $color_black;
    font-weight: 800;
    padding: .2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: .5rem;
}


@media (max-width: 600px){
    .container{
        font-size: 1.5rem;
    }
}


