<div class="container">
    <button routerLink="home" routerLinkActive="active_link" class="logo">Clothes </button>
    <nav>
        <button routerLink="cart" routerLinkActive="active_link">
            <img src="assets/icons/cart.png" alt="">
            Cart
        </button>
        <button routerLink="login" routerLinkActive="active_link" (click)="logout()">
            <img src="assets/icons/logout.png" alt="">
            Log Out
        </button>
        <button routerLink="/adding-clothes" routerLinkActive="active_link">
            <img src="assets/icons/add.png" alt="">
            Add new item
        </button>
    </nav>
</div>