@import '/src/styles.scss';


.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between  ;
    width: 100%;
    border-bottom: 5px solid $color_black;
}

img{
    width: 30px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media (max-width: 600px){
    .container{
        font-size: 1.5rem;
    }
}


