<div class="container">
    <button routerLink="home" class="logo">Clothes </button>
    <nav>
        <button routerLink="cart">
            <img src="assets/icons/cart.png" alt="">
            Cart
        </button>
        <button routerLink="login" (click)="logout()">
            <img src="assets/icons/logout.png" alt="">
            Log Out
        </button>
        <button routerLink="/adding-clothes">
            <img src="assets/icons/add.png" alt="">
            Add new item
        </button>
    </nav>
</div>