

<div class="wrapper">
    <ul>
        <li *ngFor="let cloth of clothes" class="cart">
            <app-tags></app-tags>
            <a routerLink="/page/{{cloth.id}}">
                <img src="{{cloth.imageUrl}}" alt="clothes">
                <div class="content">
                    <div class="name">
                        {{cloth.name}}
                    </div>
                    <div class="description">
                        {{cloth.description}}
                    </div>
                    <div class="price">
                        {{cloth.price | currency}}
                    </div>

                </div>
            </a>
        </li>
    </ul>
</div>