@import '/src/styles.scss';

main {
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    outline: $color_orange solid 4px;
    outline-offset: 10px;
    border-radius: 1rem;
    padding: 1rem;
}

img {
    width: 17rem;
    max-height: 70vh;
    object-fit: contain;
}

.content {
    margin-left: 3rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.content div {
    margin-top: 2rem;
}

.name {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.description {
    font-size: 1.5rem;
}

.price {
    font-size: 3rem;
    color: $color_orange;
}

.input_add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quantity {
    font-weight: 700;
    font-size: 1.2rem;
    width: 4rem;
    height: 2rem;
    border: 3px solid $color_black;
}


.icon {
    width: 2rem;
}

@media (max-width: 600px){
    img{
        width: 7rem;
    }

    .container{
        padding: 0.1rem;
        margin: 0.1rem;
        outline-offset: .2rem;
    }

    .content{
        margin: 0.2rem;
    }

    .name{
        font-size: 2rem;
    } 

    .description {
        font-size: 1rem;
    }

    .price{
        font-size: 1.2rem;
    }

    .icon{
        width: 1rem;
    }    
}