<main>
    <div class="wrapper" *ngFor="let cloth of currentItem" class="cart">
        <div class="container">
            <img *ngIf="cloth.imageNumber" src="assets/img/{{cloth.imageNumber}}.jpg" alt="clothes">
            <div class="content">
                <div class="name">
                    {{cloth.name}}
                </div>
                <div class="description">
                    {{cloth.description}}
                </div>
                <div class="price">
                    {{cloth.price | currency}}
                </div>
                <div class="input_add">
                    <input min="0" oninput="validity.valid||(value='')" class="quantity" type="number" #newQuantity value="1">
                    <button class="add_to_cart button_tag" (click)="addToCart(cloth.id, newQuantity.value)">
                        Add <img class="icon" src="assets/icons/cart.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>