<main>
    <ul class="wrapper">
        <li class="li_cart" *ngFor="let cloth of clothesInCart" class="cart">
            <a routerLink="/page/{{cloth.id}}">
                <img *ngIf="cloth.imageNumber" src="assets/img/{{cloth.imageNumber}}.jpg" alt="clothes">
            </a>
            <div class="content">
                <h1 class="name">
                    {{cloth.name}}
                </h1>
                <div class="description">
                    {{cloth.description}}
                </div>
                <div class="price_quantity">
                    <div>Quantity: {{cloth.quantityInCart}}</div>
                    <div class=" price_quantity price">
                        Price {{cloth.price | currency}}
                    </div>
                </div>
                <div class="button">
                    <button class="remove_button" (click)="removeFromCart(cloth.id)">
                        <img class="icon" src="assets/icons/delete.png" alt="">
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="total">
        <ul class="total_items" *ngFor="let cloth of clothesInCart">
            <div class="calculation">
                <div class="text">
                    <h3 class="calculation_name">{{cloth.name}}</h3>
                    <div class="calculation_tag" >{{cloth.tag}}</div>
                    <div class="quantity">  {{cloth.quantityInCart}} pcs</div>
                </div>
                <div class="calculation_price">{{cloth.price * cloth.quantityInCart | currency}}</div>
            </div>
        </ul>
        <p class="totalPrice">Total =  <span > {{totalPrice | currency}}</span></p>
    </div>
</main>