

<main>
    <ul class="wrapper">
        <li *ngFor="let cloth of clothesInCart" class="cart">
            <a routerLink="/page/{{cloth.id}}">
                <img *ngIf="cloth.imageNumber" src="assets/img/{{cloth.imageNumber}}.jpg" alt="clothes">
            </a>
                <div class="content">
                    <div class="name">
                        {{cloth.name}}
                    </div>
                    <div class="description">
                        {{cloth.description}}
                    </div>
                    <div class="price">
                        {{cloth.price | currency}}
                    </div>
                    <div>{{cloth.quantityInCart}}</div>
                    <button (click)="removeFromCart(cloth.id)">Remove</button>
                </div>
          
        </li>
    </ul>
    <div class="total">
        TOTAL
    </div>

</main>