.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

a {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 800;
    border: 3px solid #272727;
    padding: 0.5rem;
    border-radius: .8rem;
}

a:hover {
    transition: .3s;
    border: 3px solid #f55414;
    color: #f55414;

}