/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$color_A1 : #f55414;
$color_B1 : #171717;
$color_B2 : #5f5f5f;
$color_C1 : #d6d4d4;

$pomegranate-50: #fff5ed;
$pomegranate-200: #fdcdab;
$pomegranate-300: #fba976;
$pomegranate-100: #fee8d6;
$pomegranate-400: #f87b3f;
$pomegranate-500: #f55414;
$pomegranate-600: #e63e10;
$pomegranate-700: #bf2c0f;
$pomegranate-800: #982414;
$pomegranate-900: #7a2114;
$pomegranate-950: #420e08;




* {
    box-sizing: border-box;
    font-variant: normal;

}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
    color: $color_B1;

    &:hover {
        color: $color_B2;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    list-style-type: none;
    color: $color_B1;
    outline: $color_B1 solid 4px;
    outline-offset: 10px;
    border-radius: 1rem;

    &:hover {
        transition: ease-in-out .3s;
        outline: $color_A1 solid 4px;
        outline-offset: 10px;
        border-radius: 1rem;
        transform: translateY(-5px);
    }
}


.search_pannel input {
    background-color: $color_C1;
    font-size: 1.5rem;
    border-radius: 1rem;
    height: 3.3rem;
    border: 0;
    transition: .3s;
}

button {
    color: $color_B1;
    background-color: $pomegranate-500;
    border-radius: .8rem;
    font-size: 2rem;
    padding: .3rem;
    border: none;
    margin: .8rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition: all .2s;
        outline: #272727 solid 4px;
        outline-offset: 5px;
    }
}

.active_link{
    background-color: $pomegranate-700;
    outline: #272727 solid 2px;
    outline-offset: 3px;


}

@media (max-width: 600px) {
    button {
        font-size: 1rem;
        padding: .2rem;
        margin: .2rem;
        border-radius: .4rem;

        &:hover {
            outline: #272727 solid 2px;
            outline-offset: 2px;
            transition: all 0s;
        }
    }

}