/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$color_orange : #f55414;
$color_dark_orange: #bc210d;
$color_black : #171717;
$color_dark_grey : #5f5f5f;
$color_light_grey : #d6d4d4;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

html{
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    min-height: 100%;

}

a {
    text-decoration: none;
    color: $color_black;

    &:hover {
        color: $color_dark_grey;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    list-style-type: none;
    color: $color_black;
    outline: $color_black solid 4px;
    outline-offset: 10px;
    border-radius: 1rem;

    &:hover {
        transition: ease-in-out .3s;
        outline: $color_orange solid 4px;
        outline-offset: 10px;
        border-radius: 1rem;
        transform: translateY(-5px);
    }
}


.search_pannel input {
    background-color: $color_light_grey;
    font-size: 1.5rem;
    border-radius: 1rem;
    height: 3.3rem;
    border: 0;
    transition: .3s;

}

button {
    color: $color_black;
    background-color: $color_orange;
    border-radius: .8rem;
    font-size: 1.8rem;
    padding: .4rem;
    border: none;
    margin: .8rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition: all .2s;
        outline: $color_black solid 4px;
        outline-offset: 5px;
    }
}

.active_link {
    background-color: $color_dark_orange;
    outline: $color_black solid 2px;
    outline-offset: 3px;


}

@media (max-width: 600px) {
    button {
        font-size: 1rem;
        padding: .2rem;
        margin: .2rem;
        border-radius: .4rem;

        &:hover {
            outline: $color_black solid 2px;
            outline-offset: 2px;
            transition: all 0s;
        }
    }

}