img {
    width: 250px;
    margin: .2rem;
}

.icon {
    width: 25px;
}

.search_pannel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}



.wrapper {
    display: flex;
    flex-direction: row;

    .sidebar {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 1;
        width: 6rem;

        .button_tag {
            width: 4rem;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 1;


        li {
            display: flex;
            justify-content: center;
            overflow: hidden;
            margin: 1rem;
            max-width: 29rem;
            flex-shrink: 1;
            flex-grow: 1;
            @media (max-width: 600px) {
                margin: 1rem;
            }


            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;

                .name {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: center;
                }

                .description {
                    font-size: 1.2rem;
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                }


                .price {
                    text-align: end;
                    font-size: 1.5rem;
                    color: #f55414;
                }

                .input_add {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: baseline;

                    .quantity {
                        font-weight: 700;
                        font-size: 1.2rem;
                        width: 4rem;
                        height: 2rem;
                        border: 3px solid black;
                    }
                }


                .add_to_cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    font-size: 1rem;
                }
            }
        }


    }
}

@media (max-width: 600px) {
    .icon {
        width: 20px;
    }

    .sidebar {
        width: 4rem;
    }

    img {
        width: 150px;
    }
    li{
        margin: 0;
        padding: 0;
    }

    input{
        height: 2rem;
        padding: .5rem;
    }
}

// @media (max-width: 400px) {
//     img{
//         width: 100px;
//     }
// }