<!-- <app-tags></app-tags> -->
<app-page></app-page>

<div class="search_pannel">
    <input type="text" placeholder="Search" [(ngModel)]="MySearchTerm">
    <button (click)="search()">Search</button>
</div>

<button (click)="searchByTag('shoes')">Shoes</button>
<button (click)="searchByTag('t-shirt')">t-shirt</button>

<div class="wrapper">
    <ul>
        <li *ngFor="let cloth of clothes">
            <a routerLink="/page/{{cloth.id}}">
                <img *ngIf="cloth.imageNumber" src="/assets/img/{{cloth.imageNumber}}.jpg" alt="clothes">
            </a>
            <div class="content">
                <div class="name">
                    {{cloth.name}}
                </div>
                <div class="description">
                    {{cloth.description}}
                </div>
                <div class="footer">
                    <div class="tag">
                        {{cloth.tag}}
                    </div>
                    <div class="price">
                        {{cloth.price | currency}}
                    </div>
                    <div>{{cloth.id}}</div>
                </div>
                <input type="number"  #newQuantity>
                <button (click)="addToCart(cloth.id, newQuantity.value)">addToCart</button>
            </div>

        </li>
    </ul>
</div>

<!-- <div class="wrapper" *ngIf="visibleSearch">
    <ul>
        <li *ngFor="let cloth of res">
            <a > 
                <img src="{{cloth.imageUrl}}" alt="clothes">
            <div class="content">
                <div class="name">
                    {{cloth.name}}
                </div>
                <div class="description">
                    {{cloth.description}}
                </div>
                <div class="footer">
                    <div class="tag">
                        {{cloth.tag}}
                    </div>
                    <div class="price">
                        {{cloth.price | currency}}
                    </div>
                </div>
            </div>
            </a>
        </li>
    </ul>
</div>
 -->