

<app-search></app-search>
<app-tags></app-tags>
<app-page></app-page>

<div class="wrapper" >
    <ul>
        <li *ngFor="let cloth of clothes">
            <a routerLink="/page/{{cloth.id}}"> 
                <img src="{{cloth.imageUrl}}" alt="clothes">
            <div class="content">
                <div class="name">
                    {{cloth.name}}
                </div>
                <div class="description">
                    {{cloth.description}}
                </div>
                <div class="footer">
                    <div class="tag">
                        {{cloth.tag}}
                    </div>
                    <div class="price">
                        {{cloth.price | currency}}
                    </div>
                </div>
            </div>
            </a>
        </li>
    </ul>
</div>

<!-- <div class="wrapper" *ngIf="visibleSearch">
    <ul>
        <li *ngFor="let cloth of res">
            <a > 
                <img src="{{cloth.imageUrl}}" alt="clothes">
            <div class="content">
                <div class="name">
                    {{cloth.name}}
                </div>
                <div class="description">
                    {{cloth.description}}
                </div>
                <div class="footer">
                    <div class="tag">
                        {{cloth.tag}}
                    </div>
                    <div class="price">
                        {{cloth.price | currency}}
                    </div>
                </div>
            </div>
            </a>
        </li>
    </ul>
</div>
 -->

